{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>{% if page.title %}{{ page.title }}{% else %}BabelFrog{% endif %}</title>
    <meta property="og:image" content="{{site.url}}/img/babelfrog-static-screenshot-fb.png"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
{% if page.blogfeed %}
		<link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/blog/feed.atom" />
{% endif %}
		<link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/keys.css" type="text/css" />
		<link rel="stylesheet" href="/css/syntax.css" />

    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/img/frog48.png"/>
    <link rel="shortcut icon" type="image/png" href="/img/frog48.png"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- allows babelfrog inline install; see https://developer.chrome.com/webstore/inline_installation?hl=en -->
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jnhmkblbgggfgeebimebebnkhgnagnpj" />

		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
    <a href="https://github.com/dergachev/babelfrog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
		<div class="wrapper{% if location == '' %} home{% endif %}">
			<header>
				<h1><a href="/"><img src="/img/logo.png" alt="{{ site.name }}" width="300" /></a></h1>
				<nav><ul>
					<li><a {% if location == '' %}class="active" {% endif %}href="/">Home</a></li>
					<li><a {% if location == 'help' %}class="active" {% endif %}href="/help/">Help</a></li>
					<li><a {% if location == 'faq' %}class="active" {% endif %}href="/faq/">FAQ</a></li>
          <!-- <li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">News</a></li> -->
         <li><a href="https://babelfrog.uservoice.com/">Forum</a></li>
				</ul></nav>
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
{% if page.nobio != true %}
				<img class="avatar" src="http://www.gravatar.com/avatar/0bceeea1c7179c102b50812a1d2c74c3.png" alt="Me" />
        <p>BabelFrog is a side-project of <a href="https://github.com/dergachev/">Alex Dergachev</a> who's currently using it to improve his French while living in Montreal, Quebec and running <a href="http://evolvingweb.ca">Evolving Web</a>, a Drupal consultancy.</p>
				<p><a href="http://github.com/dergachev">github</a> | <a href="http://twitter.com/dergachev">twitter</a> | <a href="https://www.linkedin.com/in/alexdergachev">linked.in</a></p>
{% endif %}
<!--
				<p>
					<small>© {{ site.time | date: '%Y' }} Evolving Web</small><br />
					<small>Made with <a href="http://jekyllrb.com/">Jekyll</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
				</p>
        -->
			</footer>
		</div>
		<script src="/js/scale.fix.js"></script>
    <script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/qHf8fJeoSckTW994HySZg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    // Set colors
    UserVoice.push(['set', {
      accent_color: '#6aba2e',
      trigger_color: 'white',
      trigger_background_color: '#448dd6'
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-51237619-1']);
      _gaq.push(['_trackPageview']);
      
      var disqus_shortname  = 'babelfrog',
          disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
          disqus_url        = '{{ site.url }}{{ page.url | uri_escape }}'
      ;
      (function() {
        var load = function(src){
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = src;
          var e = document.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e);
        };
        load(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
        load('//' + disqus_shortname + '.disqus.com/count.js');
        if (document.getElementById('disqus_thread')) {
          load('//' + disqus_shortname + '.disqus.com/embed.js');
        }
      })();
    </script>

	</body>
</html>
